div{
    background: dimgray;
    box-sizing: border-box;
    width: 350px;
    padding: 10px;
    border-radius: 10px;   
    margin-left: 68px;
}

input{
    border-radius: 7px;
    padding: 6px;
}

#submitButton{
    background-color: rgb(30, 168, 168);
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgb(84, 85, 141) 0%, rgb(94, 146, 197) 100%);
}

input{
    margin-right: 20px;
    margin-bottom: 60px;
}

form{
    width: 500px;
    margin-top: 125px;
    text-align: center;
}

section{
    margin-left: 40px;
}

input[type="text"]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="button"]{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: midnightblue;
    color: lightgray;
    margin: auto auto;
    text-align: center;
    max-width: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

@media only screen and (max-width: 600px){
    body{
        margin: auto auto;
        max-width: 500px;
    }
    div{
        width: 200px;
        margin-left: 180px;
    }

    section{
        margin-left: -30px;
    }

    input{
        margin-left: 20px;
        margin-bottom: 30px;
    }
    
    form{
        width: 200px;
        margin-left: 150px;
        margin-bottom: 20px;
    }

    #submitButton{
        margin-left: -50px;
    }

}